@import "compass/css3"; // compass css3 helpers

@import "font-awesome/variables";
@import "font-awesome/mixins";

@import "variables";
@import "mixins";

.inbox-messages-table {
	display: table;
	width: 100%;
	border: none;
	margin: 0;
	& > li {
		border: none;
		padding: 0;
		display: table-row;
		width: 100%;
		article {
			border-bottom: 1px solid $border-color;
		}
		&:first-child {
			article {
				border-top: 1px solid $border-color;
			}
		}
		article > div {
			display: table-cell;
			padding: 5px;
			vertical-align: top;
		}
	}

}

.inbox-message {
	z-index: 1;
	&[data-href] {
		cursor: pointer;
	}
	&[data-read="no"] {
		background-color: $subtle-bg;
		.elgg-menu-item-markunread {
			display: none;
		}
	}
	&[data-read="yes"] {
		background-color: #ffffff;
		.inbox-message-element-unread-indicator {
			display: none;
		}
		.elgg-menu-item-markread {
			display: none;
		}
	}
	.inbox-message-cell-controls {
		min-width: 22px;
		input[type="checkbox"] {
			margin: 3px 0;
		}
		[class^="inbox-icon-"] {
			font-size: 12px;
			width: 12px;
			height: 12px;
			line-height: 12px;
		}
		text-align: center;
	}
	.inbox-message-cell-sender {
		min-width: 40px;
	}
	.inbox-message-cell-details {
		position: relative;
		width: 100%;
		font-size: 13px;
		.inbox-message-element-time {
			@media #{$medium} {
				position: absolute;
				top: 0;
				right: 0;
				padding: 5px;
			}
		}
		.elgg-module-embed {
			max-width: 600px;
			margin: 5px 0;
		}
		p {
			font-size: 14px;
			line-height: normal;
		}
	}
	.elgg-menu-entity {
		margin: 0;
		float: none;
	}
}

.inbox-messages-control-group {
	display: inline-block;
	padding: 4px;
}
.elgg-menu-inbox, .elgg-menu-inbox-thread {
	margin: 0 10px 0 0;
	display: inline-block;
	& > li {
		display: inline-block;
		& > a {
			padding: 5px 10px;
			background: $subtle-bg;
			border: 1px solid $border-color;
			color: #222;
			border-left: 0;
			span {
				color: #222;
			}
		}
		&:first-child {
			& > a {
				border-left: 1px solid $border-color;
			}
		}
	}
}

.inbox-layout .elgg-layout-content {
	[class^="elgg-menu-item-"] {
		position: relative;
		& > a {
			position: relative;
		}
		& > .elgg-child-menu {
			display: none;
			position: absolute;
			background: white;
			width: 175px;
			border: 1px solid $border-color;
			box-shadow: 1px 1px 5px $border-color;
			margin: 0;
			z-index: 2;
			& > li {
				margin: 0;
				padding: 5px 10px;
				&:hover {
					background: $subtle-bg;
				}
				& > a {
					display: block;
					width: 100%;
				}
			}
		}
	}
}

.inbox-message-unread-indicator {
	display: inline-block;
	width: $indicator-size;
	height: $indicator-size;
	background: $primary-color;
	@include border-radius($indicator-size);
}

[class^="inbox-icon-"] {
	font-size: 20px;
	width: 25px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	vertical-align: middle;
	& + span {
		margin-left: 8px;
	}
}
.inbox-icon-ellipsis {
	@include icon($fa-var-ellipsis-v);
}
.inbox-icon-trash {
	@include icon($fa-var-trash);
}
.inbox-icon-send {
	@include icon($fa-var-paper-plane-o);
}
.inbox-icon-markread {
	@include icon($fa-var-eye);
}
.inbox-icon-markunread {
	@include icon($fa-var-eye-slash);
}
.inbox-icon-attachment {
	@include icon($fa-var-paperclip);
}
.inbox-icon-reply {
	@include icon($fa-var-reply-all);
}
.inbox-hidden {
	display: none !important;
}

.ui-dialog.inbox-dialog-window {
	@include modal;
}

.inbox-form-row {
	margin-bottom: 15px;
	input, textarea, select {
		margin-bottom: 0;
	}
}

.inbox-message-image-attachments {
	& > img {
		&, &:hover {
			border: 1px solid $border-color;
			padding: 4px;
			margin: 5px 0;
			max-width: 100%;
			box-shadow: none;
		}
	}
}
.inbox-message-attachments {
	display: table;
	width: 100%;
	margin: 5px 0;
	border-top: 1px solid $border-color;
	border-bottom: 1px solid $border-color;
	& > li {
		display: table-row;
		& > div {
			display: table-cell;
			padding: 4px;
			&.icon {
				img, img:hover {
					border: none;
					padding: 0;
					margin: 0;
					max-width: 25px;
					box-shadow: none;
				}
			}
		}
		&:nth-child(even) {
			background: #f4f4f4;
		}
	}
}

.inbox-thread-load-before, .inbox-thread-load-after {
	display: block;
	width: 100%;
	text-align: center;
	padding: 4px 8px;
	font-size: 12px;
	font-weight: bold;
}
