@import "compass/css3"; // compass css3 helpers
@import "../../../../../sass/global/variables";

/* Style the popup module */
#inbox-popup {
    padding: 0;
    background: white;
    width: 345px;
	max-width: 100%;
    position: absolute;
    font-size: 14px;
    line-height: normal;
	.elgg-no-results,
	.elgg-ajax-loader {
		margin: 0;
		padding: 8px;
	}
	.elgg-list-inbox {
		max-height: 300px;
		overflow-y: auto;
		margin: 0;
	}
	.elgg-foot {
		border-top: 1px solid $border-color;
	}
	.elgg-foot a {
		text-align: center;
		font-size: 12px;
		min-width: 30px;
		padding: 4px;
		display: inline-block;
		width: 100%;
		text-align: center;
	}
}

.elgg-list-inbox > li {
    padding: 0;
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #DCDCDC;
    margin: 0;

	&:last-of-type {
		border-bottom-width: 0;
	}
	.inbox-message {
		padding: 8px;
		transition: background-color 0.5s ease;
	}

	.inbox-message-icon {
		flex: 0 0 30px;
		text-align: center;
	}

}

.elgg-menu-item-inbox > a {
    position: relative;
	.elgg-icon {
		font-size: 20px;
	}
}
