#Ignore files that will need to be changed locally
.DS_Store
.htaccess
robots.txt
/nbproject/private/
/.sass-cache/
/node_modules/
/vendors/
/release/
/releases/
/tests/coverage/
/tests/logs/
manifest.xml
/views/default/css/