@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/bitnami\/wamp\/apache2\/htdocs\/ambercase\/mod\/hypeInbox\/sass\/inbox\/stylesheet\.scss}line{font-family:\0000310}}
.elgg-list > .elgg-item-object-messages {
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/bitnami\/wamp\/apache2\/htdocs\/ambercase\/mod\/hypeInbox\/sass\/inbox\/stylesheet\.scss}line{font-family:\0000315}}
.inbox-message {
  z-index: 1;
  padding: 5px;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/bitnami\/wamp\/apache2\/htdocs\/ambercase\/mod\/hypeInbox\/sass\/inbox\/stylesheet\.scss}line{font-family:\0000319}}
.inbox-message[data-href] {
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/bitnami\/wamp\/apache2\/htdocs\/ambercase\/mod\/hypeInbox\/sass\/inbox\/stylesheet\.scss}line{font-family:\0000322}}
.inbox-message .elgg-content, .inbox-message p {
  margin: 0;
  font-size: 14px;
  line-height: normal;
}
@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/bitnami\/wamp\/apache2\/htdocs\/ambercase\/mod\/hypeInbox\/sass\/inbox\/stylesheet\.scss}line{font-family:\0000327}}
.inbox-message h3 {
  font-size: 14px;
  line-height: normal;
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/bitnami\/wamp\/apache2\/htdocs\/ambercase\/mod\/hypeInbox\/sass\/inbox\/stylesheet\.scss}line{font-family:\0000332}}
.inbox-message.inbox-message-unread {
  background-color: #fafafa;
}
@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/bitnami\/wamp\/apache2\/htdocs\/ambercase\/mod\/hypeInbox\/sass\/inbox\/stylesheet\.scss}line{font-family:\0000334}}
.inbox-message.inbox-message-unread .elgg-menu-item-markunread {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/bitnami\/wamp\/apache2\/htdocs\/ambercase\/mod\/hypeInbox\/sass\/inbox\/stylesheet\.scss}line{font-family:\0000338}}
.inbox-message.inbox-message-read {
  background-color: #ffffff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/bitnami\/wamp\/apache2\/htdocs\/ambercase\/mod\/hypeInbox\/sass\/inbox\/stylesheet\.scss}line{font-family:\0000340}}
.inbox-message.inbox-message-read .elgg-menu-item-unread,
.inbox-message.inbox-message-read .elgg-menu-item-markread {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/bitnami\/wamp\/apache2\/htdocs\/ambercase\/mod\/hypeInbox\/sass\/inbox\/stylesheet\.scss}line{font-family:\0000346}}
.inbox-message.inbox-message-form-row [type="checkbox"] {
  float: left;
  margin: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/bitnami\/wamp\/apache2\/htdocs\/ambercase\/mod\/hypeInbox\/sass\/inbox\/stylesheet\.scss}line{font-family:\0000350}}
.inbox-message.inbox-message-form-row .inbox-message-image-block {
  margin-left: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/bitnami\/wamp\/apache2\/htdocs\/ambercase\/mod\/hypeInbox\/sass\/inbox\/stylesheet\.scss}line{font-family:\0000356}}
.inbox-message.inbox-message-threaded .elgg-content .inbox-message-subject + .inbox-message-body-excerpt:before {
  content: " - ";
  display: inline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/bitnami\/wamp\/apache2\/htdocs\/ambercase\/mod\/hypeInbox\/sass\/inbox\/stylesheet\.scss}line{font-family:\0000362}}
.inbox-message .elgg-module-embed {
  margin: 5px 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/bitnami\/wamp\/apache2\/htdocs\/ambercase\/mod\/hypeInbox\/sass\/inbox\/stylesheet\.scss}line{font-family:\0000366}}
.inbox-message-image-block {
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/bitnami\/wamp\/apache2\/htdocs\/ambercase\/mod\/hypeInbox\/sass\/inbox\/stylesheet\.scss}line{font-family:\0000369}}
.inbox-message-image-block > .elgg-image {
  float: none;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/bitnami\/wamp\/apache2\/htdocs\/ambercase\/mod\/hypeInbox\/sass\/inbox\/stylesheet\.scss}line{font-family:\0000376}}
.inbox-message-image-block > .elgg-body {
  position: relative;
  padding-left: 55px;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/bitnami\/wamp\/apache2\/htdocs\/ambercase\/mod\/hypeInbox\/sass\/inbox\/stylesheet\.scss}line{font-family:\0000386}}
.inbox-menu > li .inbox-message-count-indicator, .inbox-menu > li .inbox-message-count-indicator:hover,
.inbox-menu > li .inbox-message-unread-indicator,
.inbox-menu > li .inbox-message-unread-indicator:hover {
  color: white;
  background: #cccccc;
  -moz-border-radius: 1000px;
  -webkit-border-radius: 1000px;
  border-radius: 1000px;
  padding: 2px 4px;
  font-size: 11px;
  font-weight: bold;
  line-height: 16px;
  height: 20px;
  min-width: 20px;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/bitnami\/wamp\/apache2\/htdocs\/ambercase\/mod\/hypeInbox\/sass\/inbox\/stylesheet\.scss}line{font-family:\00003100}}
.inbox-menu > li .inbox-message-unread-indicator, .inbox-menu > li .inbox-message-unread-indicator:hover {
  background: #0054a7;
}

@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/bitnami\/wamp\/apache2\/htdocs\/ambercase\/mod\/hypeInbox\/sass\/inbox\/stylesheet\.scss}line{font-family:\00003107}}
.inbox-messages-control-group {
  display: inline-block;
  padding: 4px;
  margin: 0 0 5px 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/bitnami\/wamp\/apache2\/htdocs\/ambercase\/mod\/hypeInbox\/sass\/inbox\/stylesheet\.scss}line{font-family:\00003112}}
.elgg-menu-inbox, .elgg-menu-inbox-thread {
  margin: 0 10px 0 0;
  display: inline-block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/bitnami\/wamp\/apache2\/htdocs\/ambercase\/mod\/hypeInbox\/sass\/inbox\/stylesheet\.scss}line{font-family:\00003115}}
.elgg-menu-inbox > li, .elgg-menu-inbox-thread > li {
  display: inline-block;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/bitnami\/wamp\/apache2\/htdocs\/ambercase\/mod\/hypeInbox\/sass\/inbox\/stylesheet\.scss}line{font-family:\00003118}}
.elgg-menu-inbox > li > a, .elgg-menu-inbox-thread > li > a {
  padding: 5px 10px;
  background: #fafafa;
  border: 1px solid #cccccc;
  color: #222;
  border-left: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/bitnami\/wamp\/apache2\/htdocs\/ambercase\/mod\/hypeInbox\/sass\/inbox\/stylesheet\.scss}line{font-family:\00003124}}
.elgg-menu-inbox > li > a span, .elgg-menu-inbox-thread > li > a span {
  color: #222;
}
@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/bitnami\/wamp\/apache2\/htdocs\/ambercase\/mod\/hypeInbox\/sass\/inbox\/stylesheet\.scss}line{font-family:\00003129}}
.elgg-menu-inbox > li:first-child > a, .elgg-menu-inbox-thread > li:first-child > a {
  border-left: 1px solid #cccccc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/bitnami\/wamp\/apache2\/htdocs\/ambercase\/mod\/hypeInbox\/sass\/inbox\/stylesheet\.scss}line{font-family:\00003133}}
.elgg-menu-inbox > li .elgg-child-menu, .elgg-menu-inbox-thread > li .elgg-child-menu {
  display: none;
  position: absolute;
  right: 0;
  margin: 2px -1px;
  border: 1px solid #cccccc;
  -moz-box-shadow: 2px 2px 3px #cccccc;
  -webkit-box-shadow: 2px 2px 3px #cccccc;
  box-shadow: 2px 2px 3px #cccccc;
  background: #fff;
  z-index: 2;
  width: 150px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/bitnami\/wamp\/apache2\/htdocs\/ambercase\/mod\/hypeInbox\/sass\/inbox\/stylesheet\.scss}line{font-family:\00003143}}
.elgg-menu-inbox > li .elgg-child-menu > li, .elgg-menu-inbox-thread > li .elgg-child-menu > li {
  border-bottom: 1px solid #cccccc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/bitnami\/wamp\/apache2\/htdocs\/ambercase\/mod\/hypeInbox\/sass\/inbox\/stylesheet\.scss}line{font-family:\00003145}}
.elgg-menu-inbox > li .elgg-child-menu > li:last-child, .elgg-menu-inbox-thread > li .elgg-child-menu > li:last-child {
  border-bottom: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/bitnami\/wamp\/apache2\/htdocs\/ambercase\/mod\/hypeInbox\/sass\/inbox\/stylesheet\.scss}line{font-family:\00003148}}
.elgg-menu-inbox > li .elgg-child-menu > li > a, .elgg-menu-inbox-thread > li .elgg-child-menu > li > a {
  display: block;
  width: 100%;
  padding: 5px 10px;
  background: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/bitnami\/wamp\/apache2\/htdocs\/ambercase\/mod\/hypeInbox\/sass\/inbox\/stylesheet\.scss}line{font-family:\00003153}}
.elgg-menu-inbox > li .elgg-child-menu > li > a:hover, .elgg-menu-inbox-thread > li .elgg-child-menu > li > a:hover {
  background: #fafafa;
}
@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/bitnami\/wamp\/apache2\/htdocs\/ambercase\/mod\/hypeInbox\/sass\/inbox\/stylesheet\.scss}line{font-family:\00003160}}
.elgg-menu-inbox > li:hover .elgg-child-menu, .elgg-menu-inbox > li.elgg-state-active .elgg-child-menu, .elgg-menu-inbox-thread > li:hover .elgg-child-menu, .elgg-menu-inbox-thread > li.elgg-state-active .elgg-child-menu {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/bitnami\/wamp\/apache2\/htdocs\/ambercase\/mod\/hypeInbox\/sass\/inbox\/stylesheet\.scss}line{font-family:\00003167}}
[class^="inbox-icon-"] {
  font-size: 20px;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  vertical-align: middle;
}
@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/bitnami\/wamp\/apache2\/htdocs\/ambercase\/mod\/hypeInbox\/sass\/inbox\/stylesheet\.scss}line{font-family:\00003174}}
[class^="inbox-icon-"] + span {
  margin-left: 8px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/bitnami\/wamp\/apache2\/htdocs\/ambercase\/mod\/hypeInbox\/sass\/inbox\/stylesheet\.scss}line{font-family:\00003178}}
.inbox-icon-trash {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/bitnami\/wamp\/apache2\/htdocs\/ambercase\/mod\/hypeInbox\/sass\/_partials\/_mixins\.scss}line{font-family:\00003108}}
.inbox-icon-trash:before {
  content: "\f1f8";
}

@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/bitnami\/wamp\/apache2\/htdocs\/ambercase\/mod\/hypeInbox\/sass\/inbox\/stylesheet\.scss}line{font-family:\00003181}}
.inbox-icon-send {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/bitnami\/wamp\/apache2\/htdocs\/ambercase\/mod\/hypeInbox\/sass\/_partials\/_mixins\.scss}line{font-family:\00003108}}
.inbox-icon-send:before {
  content: "\f1d9";
}

@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/bitnami\/wamp\/apache2\/htdocs\/ambercase\/mod\/hypeInbox\/sass\/inbox\/stylesheet\.scss}line{font-family:\00003184}}
.inbox-icon-markread {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/bitnami\/wamp\/apache2\/htdocs\/ambercase\/mod\/hypeInbox\/sass\/_partials\/_mixins\.scss}line{font-family:\00003108}}
.inbox-icon-markread:before {
  content: "\f06e";
}

@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/bitnami\/wamp\/apache2\/htdocs\/ambercase\/mod\/hypeInbox\/sass\/inbox\/stylesheet\.scss}line{font-family:\00003187}}
.inbox-icon-markunread {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/bitnami\/wamp\/apache2\/htdocs\/ambercase\/mod\/hypeInbox\/sass\/_partials\/_mixins\.scss}line{font-family:\00003108}}
.inbox-icon-markunread:before {
  content: "\f070";
}

@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/bitnami\/wamp\/apache2\/htdocs\/ambercase\/mod\/hypeInbox\/sass\/inbox\/stylesheet\.scss}line{font-family:\00003190}}
.inbox-icon-attachment {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/bitnami\/wamp\/apache2\/htdocs\/ambercase\/mod\/hypeInbox\/sass\/_partials\/_mixins\.scss}line{font-family:\00003108}}
.inbox-icon-attachment:before {
  content: "\f0c6";
}

@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/bitnami\/wamp\/apache2\/htdocs\/ambercase\/mod\/hypeInbox\/sass\/inbox\/stylesheet\.scss}line{font-family:\00003193}}
.inbox-icon-reply {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/bitnami\/wamp\/apache2\/htdocs\/ambercase\/mod\/hypeInbox\/sass\/_partials\/_mixins\.scss}line{font-family:\00003108}}
.inbox-icon-reply:before {
  content: "\f122";
}

@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/bitnami\/wamp\/apache2\/htdocs\/ambercase\/mod\/hypeInbox\/sass\/inbox\/stylesheet\.scss}line{font-family:\00003196}}
.inbox-hidden {
  display: none !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/bitnami\/wamp\/apache2\/htdocs\/ambercase\/mod\/hypeInbox\/sass\/inbox\/stylesheet\.scss}line{font-family:\00003200}}
.ui-dialog.inbox-dialog-window {
  position: absolute;
  top: 0;
  left: 0;
  outline: 0;
  border: 1px solid #cccccc;
  background: #FFF;
  padding: 0;
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 14px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/bitnami\/wamp\/apache2\/htdocs\/ambercase\/mod\/hypeInbox\/sass\/_partials\/_mixins\.scss}line{font-family:\0000340}}
.ui-dialog.inbox-dialog-window .ui-dialog-titlebar {
  margin: 0;
  padding: 10px;
  background: none;
  border: none;
  border-bottom: 1px solid #cccccc;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/bitnami\/wamp\/apache2\/htdocs\/ambercase\/mod\/hypeInbox\/sass\/_partials\/_mixins\.scss}line{font-family:\0000347}}
.ui-dialog.inbox-dialog-window .ui-dialog-titlebar .ui-dialog-title {
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/bitnami\/wamp\/apache2\/htdocs\/ambercase\/mod\/hypeInbox\/sass\/_partials\/_mixins\.scss}line{font-family:\0000351}}
.ui-dialog.inbox-dialog-window .ui-dialog-titlebar-close {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  height: 35px;
  width: 40px;
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/bitnami\/wamp\/apache2\/htdocs\/ambercase\/mod\/hypeInbox\/sass\/_partials\/_mixins\.scss}line{font-family:\0000362}}
.ui-dialog.inbox-dialog-window .ui-dialog-titlebar-close .ui-icon-closethick {
  text-indent: 0;
  color: transparent;
  position: relative;
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: none;
  border: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 40px;
  height: 35px;
  border-left: 1px solid #cccccc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/bitnami\/wamp\/apache2\/htdocs\/ambercase\/mod\/hypeInbox\/sass\/_partials\/_mixins\.scss}line{font-family:\0000375}}
.ui-dialog.inbox-dialog-window .ui-dialog-titlebar-close .ui-icon-closethick:after {
  position: absolute;
  top: 0;
  right: 0;
  content: "\f00d";
  text-align: center;
  font-size: 16px;
  line-height: 35px;
  color: #b8b8b8;
  padding: 0 12px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/bitnami\/wamp\/apache2\/htdocs\/ambercase\/mod\/hypeInbox\/sass\/inbox\/stylesheet\.scss}line{font-family:\00003205}}
.elgg-form-messages-inbox input, .elgg-form-messages-inbox textarea, .elgg-form-messages-inbox select {
  margin-bottom: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/bitnami\/wamp\/apache2\/htdocs\/ambercase\/mod\/hypeInbox\/sass\/inbox\/stylesheet\.scss}line{font-family:\00003209}}
.inbox-form-row {
  margin-bottom: 15px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/bitnami\/wamp\/apache2\/htdocs\/ambercase\/mod\/hypeInbox\/sass\/inbox\/stylesheet\.scss}line{font-family:\00003213}}
.inbox-message-image-attachments {
  *zoom: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/bitnami\/wamp\/apache2\/htdocs\/ambercase\/mod\/hypeInbox\/sass\/_partials\/_mixins\.scss}line{font-family:\000033}}
.inbox-message-image-attachments:before, .inbox-message-image-attachments:after {
  content: " ";
  display: table;
}
@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/bitnami\/wamp\/apache2\/htdocs\/ambercase\/mod\/hypeInbox\/sass\/_partials\/_mixins\.scss}line{font-family:\000034}}
.inbox-message-image-attachments:after {
  clear: both;
}
@media only screen and (min-width: 1280px) {
@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/bitnami\/wamp\/apache2\/htdocs\/ambercase\/mod\/hypeInbox\/sass\/inbox\/stylesheet\.scss}line{font-family:\00003215}}
  .inbox-message-image-attachments > div {
    float: left;
    width: 33.33333%;
    padding: 5px;
    margin: 0;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/bitnami\/wamp\/apache2\/htdocs\/ambercase\/mod\/hypeInbox\/sass\/inbox\/stylesheet\.scss}line{font-family:\00003221}}
  .inbox-message-image-attachments > div:nth-of-type(1n) {
    clear: none;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/bitnami\/wamp\/apache2\/htdocs\/ambercase\/mod\/hypeInbox\/sass\/inbox\/stylesheet\.scss}line{font-family:\00003222}}
  .inbox-message-image-attachments > div:nth-of-type(3n+1) {
    clear: both;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/bitnami\/wamp\/apache2\/htdocs\/ambercase\/mod\/hypeInbox\/sass\/inbox\/stylesheet\.scss}line{font-family:\00003226}}
.inbox-message-attachments {
  display: table;
  width: 100%;
  margin: 5px 0;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/bitnami\/wamp\/apache2\/htdocs\/ambercase\/mod\/hypeInbox\/sass\/inbox\/stylesheet\.scss}line{font-family:\00003232}}
.inbox-message-attachments > div {
  padding: 3px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/bitnami\/wamp\/apache2\/htdocs\/ambercase\/mod\/hypeInbox\/sass\/inbox\/stylesheet\.scss}line{font-family:\00003234}}
.inbox-message-attachments > div > div {
  padding: 2px;
  font-size: 90%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/bitnami\/wamp\/apache2\/htdocs\/ambercase\/mod\/hypeInbox\/sass\/inbox\/stylesheet\.scss}line{font-family:\00003238}}
.inbox-message-attachments > div img, .inbox-message-attachments > div img:hover {
  border: none;
  padding: 0;
  margin: 0;
  max-width: 25px;
  box-shadow: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/bitnami\/wamp\/apache2\/htdocs\/ambercase\/mod\/hypeInbox\/sass\/inbox\/stylesheet\.scss}line{font-family:\00003245}}
.inbox-message-attachments > div:nth-child(even) {
  background: #f4f4f4;
}

@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/bitnami\/wamp\/apache2\/htdocs\/ambercase\/mod\/hypeInbox\/sass\/inbox\/stylesheet\.scss}line{font-family:\00003252}}
.inbox-footer-controls > li {
  display: inline-block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/bitnami\/wamp\/apache2\/htdocs\/ambercase\/mod\/hypeInbox\/sass\/inbox\/stylesheet\.scss}line{font-family:\00003254}}
.inbox-footer-controls > li:after {
  content: "|";
  color: #cccccc;
  display: inline-block;
  padding: 0 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/d\:\/bitnami\/wamp\/apache2\/htdocs\/ambercase\/mod\/hypeInbox\/sass\/inbox\/stylesheet\.scss}line{font-family:\00003260}}
.inbox-footer-controls > li:last-child:after {
  display: none;
}
