[class~="inbox"], [class~="inbox"] * { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.inbox-message { z-index: 1; padding: 10px; position: relative; }
.inbox-message[data-href] { cursor: pointer; }
.inbox-message .elgg-content, .inbox-message p { margin: 0; font-size: 14px; line-height: normal; }
.inbox-message h3 { font-size: 14px; line-height: normal; margin: 0; }
.inbox-message.inbox-message-unread { background-color: #fafafa; }
.inbox-message.inbox-message-unread .elgg-menu-item-markunread { display: none; }
.inbox-message.inbox-message-read { background-color: #ffffff; }
.inbox-message.inbox-message-read .elgg-menu-item-unread, .inbox-message.inbox-message-read .elgg-menu-item-markread { display: none; }
.inbox-message.inbox-message-form-row [type="checkbox"] { float: left; margin: 5px; }
.inbox-message.inbox-message-form-row .inbox-message-image-block { margin-left: 25px; }
.inbox-message.inbox-message-threaded .elgg-content .inbox-message-subject + .inbox-message-body-excerpt:before { content: " - "; display: inline; }
.inbox-message .elgg-module-embed { margin: 5px 0; }

.inbox-message-image-block { position: relative; min-height: 40px; padding: 0; margin: 0; }
.inbox-message-image-block > .elgg-image { float: none; position: absolute; top: 0; left: 0; margin: 0 10px 0 0; }
.inbox-message-image-block > .elgg-image * { max-width: 40px !important; height: auto !important; }
.inbox-message-image-block > .elgg-body { position: relative; padding-left: 50px; width: 100%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.inbox-menu { margin-left: 0; }
.inbox-menu > li .inbox-message-count-indicator, .inbox-menu > li .inbox-message-count-indicator:hover, .inbox-menu > li .inbox-message-unread-indicator, .inbox-menu > li .inbox-message-unread-indicator:hover { color: white; background: #c3c3c3; padding: 2px 4px; font-size: 11px; font-weight: bold; line-height: 16px; height: 20px; min-width: 20px; text-align: center; -moz-border-radius: 1000px; -webkit-border-radius: 1000px; border-radius: 1000px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.inbox-menu > li .inbox-message-unread-indicator, .inbox-menu > li .inbox-message-unread-indicator:hover { background: #306eb4; }

.inbox-messages-control-group { display: inline-block; padding: 5px 15px; margin: 5px 0; width: 100%; border-bottom: 1px solid #c3c3c3; border-top: 1px solid #c3c3c3; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.elgg-menu-inbox, .elgg-menu-inbox-thread { margin: 0 10px 0 0; display: inline-block; overflow: visible; }
.elgg-menu-inbox > li, .elgg-menu-inbox-thread > li { display: inline-block; position: relative; }
.elgg-menu-inbox > li > a, .elgg-menu-inbox-thread > li > a { padding: 5px 10px; background: #fafafa; border: 1px solid #c3c3c3; color: #222; border-left: 0; }
.elgg-menu-inbox > li > a span, .elgg-menu-inbox-thread > li > a span { color: #222; }
.elgg-menu-inbox > li:first-child > a, .elgg-menu-inbox-thread > li:first-child > a { border-left: 1px solid #c3c3c3; }
.elgg-menu-inbox > li .elgg-child-menu, .elgg-menu-inbox-thread > li .elgg-child-menu { display: none; position: absolute; right: 0; margin: -1px; border: 1px solid #c3c3c3; -moz-box-shadow: 2px 2px 3px #c3c3c3; -webkit-box-shadow: 2px 2px 3px #c3c3c3; box-shadow: 2px 2px 3px #c3c3c3; background: #fff; z-index: 2; width: 150px; }
.elgg-menu-inbox > li .elgg-child-menu > li, .elgg-menu-inbox-thread > li .elgg-child-menu > li { border-bottom: 1px solid #c3c3c3; }
.elgg-menu-inbox > li .elgg-child-menu > li:last-child, .elgg-menu-inbox-thread > li .elgg-child-menu > li:last-child { border-bottom: none; }
.elgg-menu-inbox > li .elgg-child-menu > li > a, .elgg-menu-inbox-thread > li .elgg-child-menu > li > a { display: block; width: 100%; padding: 5px 10px; background: #fff; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.elgg-menu-inbox > li .elgg-child-menu > li > a:hover, .elgg-menu-inbox-thread > li .elgg-child-menu > li > a:hover { background: #fafafa; }
.elgg-menu-inbox > li:hover .elgg-child-menu, .elgg-menu-inbox > li.elgg-state-active .elgg-child-menu, .elgg-menu-inbox-thread > li:hover .elgg-child-menu, .elgg-menu-inbox-thread > li.elgg-state-active .elgg-child-menu { display: block; }

[class^="inbox-icon-"] { font-size: 20px; width: 25px; height: 25px; line-height: 25px; text-align: center; vertical-align: middle; }
[class^="inbox-icon-"] + span { margin-left: 8px; }

.inbox-icon-trash { display: inline-block; font-family: FontAwesome; font-style: normal; font-weight: normal; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.inbox-icon-trash:before { content: "\f1f8"; }

.inbox-icon-send { display: inline-block; font-family: FontAwesome; font-style: normal; font-weight: normal; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.inbox-icon-send:before { content: "\f1d9"; }

.inbox-icon-markread { display: inline-block; font-family: FontAwesome; font-style: normal; font-weight: normal; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.inbox-icon-markread:before { content: "\f06e"; }

.inbox-icon-markunread { display: inline-block; font-family: FontAwesome; font-style: normal; font-weight: normal; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.inbox-icon-markunread:before { content: "\f070"; }

.inbox-icon-attachment { display: inline-block; font-family: FontAwesome; font-style: normal; font-weight: normal; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.inbox-icon-attachment:before { content: "\f0c6"; }

.inbox-icon-reply { display: inline-block; font-family: FontAwesome; font-style: normal; font-weight: normal; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.inbox-icon-reply:before { content: "\f122"; }

.inbox-hidden { display: none !important; }

.ui-dialog.inbox-dialog-window { position: absolute; top: 0; left: 0; outline: 0; border: 1px solid #c3c3c3; background: #FFF; padding: 0; -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; font-size: 14px; }
.ui-dialog.inbox-dialog-window .ui-dialog-titlebar { margin: 0; padding: 10px; background: none; border: none; border-bottom: 1px solid #c3c3c3; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; }
.ui-dialog.inbox-dialog-window .ui-dialog-titlebar .ui-dialog-title { margin: 0; }
.ui-dialog.inbox-dialog-window .ui-dialog-titlebar-close { position: absolute; right: 0; top: 0; margin: 0; padding: 0; border: none; background: none; height: 35px; width: 40px; display: block; }
.ui-dialog.inbox-dialog-window .ui-dialog-titlebar-close .ui-icon-closethick { text-indent: 0; color: transparent; position: relative; display: inline-block; font-family: FontAwesome; font-style: normal; font-weight: normal; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; background: none; border: 0; margin: 0 auto; left: 0; right: 0; width: 40px; height: 35px; border-left: 1px solid #c3c3c3; }
.ui-dialog.inbox-dialog-window .ui-dialog-titlebar-close .ui-icon-closethick:after { position: absolute; top: 0; right: 0; content: "\f00d"; text-align: center; font-size: 16px; line-height: 35px; color: #afafaf; padding: 0 12px; }

.elgg-form-messages-inbox input, .elgg-form-messages-inbox textarea, .elgg-form-messages-inbox select { margin-bottom: 0; }

.inbox-form-row { margin-bottom: 15px; }

.inbox-message-image-attachments { *zoom: 1; }
.inbox-message-image-attachments:before, .inbox-message-image-attachments:after { content: " "; display: table; }
.inbox-message-image-attachments:after { clear: both; }
.inbox-message-image-attachments > div { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
@media only screen and (min-width: 40.063em) { .inbox-message-image-attachments > div { float: left; width: 33.33333%; padding: 5px; margin: 0; }
  .inbox-message-image-attachments > div:nth-of-type(1n) { clear: none; }
  .inbox-message-image-attachments > div:nth-of-type(3n+1) { clear: both; } }

.inbox-message-attachments { display: table; width: 100%; margin: 5px 0; border-top: 1px solid #c3c3c3; border-bottom: 1px solid #c3c3c3; }
.inbox-message-attachments > div { padding: 3px; }
.inbox-message-attachments > div > div { padding: 2px; font-size: 90%; }
.inbox-message-attachments > div img, .inbox-message-attachments > div img:hover { border: none; padding: 0; margin: 0; max-width: 25px; box-shadow: none; }
.inbox-message-attachments > div:nth-child(even) { background: #f4f4f4; }
.inbox-message-attachments > div:nth-child(odd) { background: #fafafa; }

.inbox-footer-controls > li { display: inline-block; }
.inbox-footer-controls > li:after { content: "|"; color: #c3c3c3; display: inline-block; padding: 0 5px; }
.inbox-footer-controls > li:last-child:after { display: none; }
