@import "compass/css3"; // compass css3 helpers
@import "../../../../../../sass/global/variables";
@import "variables";

.inbox-message {
	z-index: 1;
	padding: 10px;
	position: relative;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	& > * {
		flex: 1 0 auto;
		padding: 0 5px;
	}
	.inbox-message-checkbox {
		flex: 0 0 20px;
		text-align: center;
		align-self: center;
	}
	.inbox-message-icon {
		flex: 0 0 50px;
		text-align: center;
	}
	.inbox-message-content {
		flex: 1 1 auto;
		overflow: hidden;
	}
	.inbox-message-subject {
		margin-right: 10px;
	}
	.inbox-message-body, .inbox-message-body-excerpt {
		font-size: 90%;
		margin: 5px auto;
	}
	&[data-href] {
		cursor: pointer;
	}
	h3, p, a, .elgg-content, .elgg-output {
		font-size: 14px;
		line-height: normal;
		margin: 0;
	}
	h3 {
		font-weight: normal;
		.inbox-message-sender {
			font-weight: bold;
		}
	}
	&.inbox-message-unread {
		background-color: $unread-bg-color;
		.elgg-menu-item-markunread {
			display: none;
		}
	}
	&.inbox-message-read {
		background-color: #ffffff;
		.elgg-menu-item-unread,
		.elgg-menu-item-markread {
			display: none;
		}
	}
}

.inbox-menu {
	& > li {
		.inbox-message-count-indicator,
		.inbox-message-unread-indicator {
			&, &:hover {
				color: white;
				background: $border-color;
				padding: 2px 4px;
				font-size: 11px;
				font-weight: bold;
				line-height: 16px;
				height: 20px;
				min-width: 20px;
				text-align: center;
				@include border-radius(1000px);
				@include box-sizing(border-box);
			}
		}
		.inbox-message-unread-indicator {
			&, &:hover {
				background: $primary-color;
			}
		}
	}
}

.inbox-messages-control-group {
    padding: 0 10px;
}
.elgg-menu-inbox, .elgg-menu-inbox-thread {
	display: flex;
	align-items: center;
	& > li {
		padding: 0 5px;
		&.elgg-menu-item-toggle {
			line-height: 34px;
		}
	}
}

.inbox-message-image-attachments {
	@include clearfix;
	& > div {
		@include box-sizing(border-box);
		@media #{$medium} {
			float: left;
			width: 33.33333%;
			padding: 5px;
			margin: 0;
			&:nth-of-type(1n) {clear: none;}
			&:nth-of-type(3n+1) { clear:both; }
		}
	}
}

.inbox-message-attachments {
	display: table;
	width: 100%;
	margin: 5px 0;
	border-top: 1px solid $border-color;
	border-bottom: 1px solid $border-color;
	& > div {
		padding: 3px;
		& > div {
			padding: 2px;
			font-size: 90%;
		}
		img, img:hover {
			border: none;
			padding: 0;
			margin: 0;
			max-width: 25px;
			box-shadow: none;
		}
		&:nth-child(even) {
			background: $light-bg-color;
		}
		&:nth-child(odd) {
			background: $lighter-bg-color;
		}
	}
}

.inbox-hidden {
	display: none;
}

.inbox-unread-count {
	color: white;
	background-color: red;

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

	position: absolute;
	text-align: center;
	top: 2px;
	left: auto;
	right: -8px;
	min-width: 16px;
	height: 16px;
	line-height: 16px;
	font-size: 10px;
	font-weight: bold;
}
