@import "compass/css3"; // compass css3 helpers
@import "../../../../../../sass/global/variables";
@import "variables";

[class~="inbox"] {
	&, & * {
		@include box-sizing(border-box);
	}
}

.inbox-message {
	z-index: 1;
	padding: 10px;
	position: relative;
	&[data-href] {
		cursor: pointer;
	}
	.elgg-content, p {
		margin: 0;
		font-size: 14px;
		line-height: normal;
	}
	h3 {
		font-size: 14px;
		line-height: normal;
		margin: 0;
	}
	&.inbox-message-unread {
		background-color: $lighter-bg-color;
		.elgg-menu-item-markunread {
			display: none;
		}
	}
	&.inbox-message-read {
		background-color: #ffffff;
		.elgg-menu-item-unread,
		.elgg-menu-item-markread {
			display: none;
		}
	}
	&.inbox-message-form-row {
		[type="checkbox"] {
			float: left;
			margin: 5px;
		}
		.inbox-message-image-block {
			margin-left: 25px;
		}
	}
	&.inbox-message-threaded {
		.elgg-content {
			.inbox-message-subject + .inbox-message-body-excerpt:before {
				content: " - ";
				display: inline;
			}
		}
	}
	.elgg-module-embed {
		margin: 5px 0;
	}
}
.inbox-message-image-block {
	@include image-block(40px, 10px);
}
.inbox-menu {
	margin-left: 0;
	& > li {
		.inbox-message-count-indicator,
		.inbox-message-unread-indicator {
			&, &:hover {
				color: white;
				background: $border-color;
				padding: 2px 4px;
				font-size: 11px;
				font-weight: bold;
				line-height: 16px;
				height: 20px;
				min-width: 20px;
				text-align: center;
				@include border-radius(1000px);
				@include box-sizing(border-box);
			}
		}
		.inbox-message-unread-indicator {
			&, &:hover {
				background: $primary-color;
			}
		}
	}
}

.inbox-messages-control-group {
	display: inline-block;
	padding: 5px 15px;
	margin: 5px 0;
	width: 100%;
	border-bottom: 1px solid $border-color;
	border-top: 1px solid $border-color;
	@include box-sizing(border-box);
}

.elgg-menu-inbox, .elgg-menu-inbox-thread {
	margin: 0 10px 0 0;
	display: inline-block;
	overflow: visible;
	& > li {
		display: inline-block;
		position: relative;
		& > a {
			padding: 5px 10px;
			background: $lighter-bg-color;
			border: 1px solid $border-color;
			color: #222;
			border-left: 0;
			span {
				color: #222;
			}
		}
		&:first-child {
			& > a {
				border-left: 1px solid $border-color;
			}
		}
		.elgg-child-menu {
			display: none;
			position: absolute;
			right: 0;
			margin: -1px;
			border: 1px solid $border-color;
			@include box-shadow(2px 2px 3px $border-color);
			background: #fff;
			z-index: 2;
			width: 150px;
			& > li {
				border-bottom: 1px solid $border-color;
				&:last-child {
					border-bottom: none;
				}
				& > a {
					display: block;
					width: 100%;
					padding: 5px 10px;
					background: #fff;
					@include box-sizing(border-box);
					&:hover {
						background: $lighter-bg-color;
					}
				}
			}
		}
		&:hover, &.elgg-state-active {
			.elgg-child-menu {
				display: block;
			}
		}
	}
}

[class^="inbox-icon-"] {
	font-size: 20px;
	width: 25px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	vertical-align: middle;
	& + span {
		margin-left: 8px;
	}
}
.inbox-icon-trash {
	@include icon($fa-var-trash);
}
.inbox-icon-send {
	@include icon($fa-var-paper-plane-o);
}
.inbox-icon-markread {
	@include icon($fa-var-eye);
}
.inbox-icon-markunread {
	@include icon($fa-var-eye-slash);
}
.inbox-icon-attachment {
	@include icon($fa-var-paperclip);
}
.inbox-icon-reply {
	@include icon($fa-var-reply-all);
}
.inbox-hidden {
	display: none !important;
}

.ui-dialog.inbox-dialog-window {
	@include modal;
}

.elgg-form-messages-inbox {
	input, textarea, select {
		margin-bottom: 0;
	}
}
.inbox-form-row {
	margin-bottom: 15px;
}

.inbox-message-image-attachments {
	@include clearfix;
	& > div {
		@include box-sizing(border-box);
		@media #{$medium} {
			float: left;
			width: 33.33333%;
			padding: 5px;
			margin: 0;
			&:nth-of-type(1n) {clear: none;}
			&:nth-of-type(3n+1) { clear:both; }
		}
	}
}
.inbox-message-attachments {
	display: table;
	width: 100%;
	margin: 5px 0;
	border-top: 1px solid $border-color;
	border-bottom: 1px solid $border-color;
	& > div {
		padding: 3px;
		& > div {
			padding: 2px;
			font-size: 90%;
		}
		img, img:hover {
			border: none;
			padding: 0;
			margin: 0;
			max-width: 25px;
			box-shadow: none;
		}
		&:nth-child(even) {
			background: $light-bg-color;
		}
		&:nth-child(odd) {
			background: $lighter-bg-color;
		}
	}
}

.inbox-footer-controls {
	& > li {
		display: inline-block;
		&:after {
			content: "|";
			color: $border-color;
			display: inline-block;
			padding: 0 5px;
		}
		&:last-child:after {
			display: none;
		}
	}
}