/* line 6, ../../../sass/framework/inbox/stylesheet.scss */
[class~="inbox"], [class~="inbox"] * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 11, ../../../sass/framework/inbox/stylesheet.scss */
.inbox-message {
  z-index: 1;
  padding: 5px;
  position: relative;
}
/* line 15, ../../../sass/framework/inbox/stylesheet.scss */
.inbox-message[data-href] {
  cursor: pointer;
}
/* line 18, ../../../sass/framework/inbox/stylesheet.scss */
.inbox-message .elgg-content, .inbox-message p {
  margin: 0;
  font-size: 14px;
  line-height: normal;
}
/* line 23, ../../../sass/framework/inbox/stylesheet.scss */
.inbox-message h3 {
  font-size: 14px;
  line-height: normal;
  margin: 0;
}
/* line 28, ../../../sass/framework/inbox/stylesheet.scss */
.inbox-message.inbox-message-unread {
  background-color: #fafafa;
}
/* line 30, ../../../sass/framework/inbox/stylesheet.scss */
.inbox-message.inbox-message-unread .elgg-menu-item-markunread {
  display: none;
}
/* line 34, ../../../sass/framework/inbox/stylesheet.scss */
.inbox-message.inbox-message-read {
  background-color: #ffffff;
}
/* line 36, ../../../sass/framework/inbox/stylesheet.scss */
.inbox-message.inbox-message-read .elgg-menu-item-unread,
.inbox-message.inbox-message-read .elgg-menu-item-markread {
  display: none;
}
/* line 42, ../../../sass/framework/inbox/stylesheet.scss */
.inbox-message.inbox-message-form-row [type="checkbox"] {
  float: left;
  margin: 5px;
}
/* line 46, ../../../sass/framework/inbox/stylesheet.scss */
.inbox-message.inbox-message-form-row .inbox-message-image-block {
  margin-left: 20px;
}
/* line 52, ../../../sass/framework/inbox/stylesheet.scss */
.inbox-message.inbox-message-threaded .elgg-content .inbox-message-subject + .inbox-message-body-excerpt:before {
  content: " - ";
  display: inline;
}
/* line 58, ../../../sass/framework/inbox/stylesheet.scss */
.inbox-message .elgg-module-embed {
  margin: 5px 0;
}

/* line 62, ../../../sass/framework/inbox/stylesheet.scss */
.inbox-message-image-block {
  position: relative;
  min-height: 40px;
  padding: 0;
  margin: 0;
}
/* line 432, ../../../../../sass/global/_mixins.scss */
.inbox-message-image-block > .elgg-image {
  float: none;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 10px 0 0;
}
/* line 438, ../../../../../sass/global/_mixins.scss */
.inbox-message-image-block > .elgg-image * {
  max-width: 40px !important;
  height: auto !important;
}
/* line 443, ../../../../../sass/global/_mixins.scss */
.inbox-message-image-block > .elgg-body {
  position: relative;
  padding-left: 50px;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 69, ../../../sass/framework/inbox/stylesheet.scss */
.inbox-menu > li .inbox-message-count-indicator, .inbox-menu > li .inbox-message-count-indicator:hover,
.inbox-menu > li .inbox-message-unread-indicator,
.inbox-menu > li .inbox-message-unread-indicator:hover {
  color: white;
  background: #cccccc;
  -moz-border-radius: 1000px;
  -webkit-border-radius: 1000px;
  border-radius: 1000px;
  padding: 2px 4px;
  font-size: 11px;
  font-weight: bold;
  line-height: 16px;
  height: 20px;
  min-width: 20px;
  text-align: center;
}
/* line 83, ../../../sass/framework/inbox/stylesheet.scss */
.inbox-menu > li .inbox-message-unread-indicator, .inbox-menu > li .inbox-message-unread-indicator:hover {
  background: #4690d6;
}

/* line 90, ../../../sass/framework/inbox/stylesheet.scss */
.inbox-messages-control-group {
  display: inline-block;
  padding: 4px;
  margin: 0 0 5px 0;
}

/* line 95, ../../../sass/framework/inbox/stylesheet.scss */
.elgg-menu-inbox, .elgg-menu-inbox-thread {
  margin: 0 10px 0 0;
  display: inline-block;
}
/* line 98, ../../../sass/framework/inbox/stylesheet.scss */
.elgg-menu-inbox > li, .elgg-menu-inbox-thread > li {
  display: inline-block;
  position: relative;
}
/* line 101, ../../../sass/framework/inbox/stylesheet.scss */
.elgg-menu-inbox > li > a, .elgg-menu-inbox-thread > li > a {
  padding: 5px 10px;
  background: #fafafa;
  border: 1px solid #cccccc;
  color: #222;
  border-left: 0;
}
/* line 107, ../../../sass/framework/inbox/stylesheet.scss */
.elgg-menu-inbox > li > a span, .elgg-menu-inbox-thread > li > a span {
  color: #222;
}
/* line 112, ../../../sass/framework/inbox/stylesheet.scss */
.elgg-menu-inbox > li:first-child > a, .elgg-menu-inbox-thread > li:first-child > a {
  border-left: 1px solid #cccccc;
}
/* line 116, ../../../sass/framework/inbox/stylesheet.scss */
.elgg-menu-inbox > li .elgg-child-menu, .elgg-menu-inbox-thread > li .elgg-child-menu {
  display: none;
  position: absolute;
  right: 0;
  margin: 2px -1px;
  border: 1px solid #cccccc;
  -moz-box-shadow: 2px 2px 3px #cccccc;
  -webkit-box-shadow: 2px 2px 3px #cccccc;
  box-shadow: 2px 2px 3px #cccccc;
  background: #fff;
  z-index: 2;
  width: 150px;
}
/* line 126, ../../../sass/framework/inbox/stylesheet.scss */
.elgg-menu-inbox > li .elgg-child-menu > li, .elgg-menu-inbox-thread > li .elgg-child-menu > li {
  border-bottom: 1px solid #cccccc;
}
/* line 128, ../../../sass/framework/inbox/stylesheet.scss */
.elgg-menu-inbox > li .elgg-child-menu > li:last-child, .elgg-menu-inbox-thread > li .elgg-child-menu > li:last-child {
  border-bottom: none;
}
/* line 131, ../../../sass/framework/inbox/stylesheet.scss */
.elgg-menu-inbox > li .elgg-child-menu > li > a, .elgg-menu-inbox-thread > li .elgg-child-menu > li > a {
  display: block;
  width: 100%;
  padding: 5px 10px;
  background: #fff;
}
/* line 136, ../../../sass/framework/inbox/stylesheet.scss */
.elgg-menu-inbox > li .elgg-child-menu > li > a:hover, .elgg-menu-inbox-thread > li .elgg-child-menu > li > a:hover {
  background: #fafafa;
}
/* line 143, ../../../sass/framework/inbox/stylesheet.scss */
.elgg-menu-inbox > li:hover .elgg-child-menu, .elgg-menu-inbox > li.elgg-state-active .elgg-child-menu, .elgg-menu-inbox-thread > li:hover .elgg-child-menu, .elgg-menu-inbox-thread > li.elgg-state-active .elgg-child-menu {
  display: block;
}

/* line 150, ../../../sass/framework/inbox/stylesheet.scss */
[class^="inbox-icon-"] {
  font-size: 20px;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  vertical-align: middle;
}
/* line 157, ../../../sass/framework/inbox/stylesheet.scss */
[class^="inbox-icon-"] + span {
  margin-left: 8px;
}

/* line 161, ../../../sass/framework/inbox/stylesheet.scss */
.inbox-icon-trash {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 110, ../../../../../sass/global/_mixins.scss */
.inbox-icon-trash:before {
  content: "\f1f8";
}

/* line 164, ../../../sass/framework/inbox/stylesheet.scss */
.inbox-icon-send {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 110, ../../../../../sass/global/_mixins.scss */
.inbox-icon-send:before {
  content: "\f1d9";
}

/* line 167, ../../../sass/framework/inbox/stylesheet.scss */
.inbox-icon-markread {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 110, ../../../../../sass/global/_mixins.scss */
.inbox-icon-markread:before {
  content: "\f06e";
}

/* line 170, ../../../sass/framework/inbox/stylesheet.scss */
.inbox-icon-markunread {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 110, ../../../../../sass/global/_mixins.scss */
.inbox-icon-markunread:before {
  content: "\f070";
}

/* line 173, ../../../sass/framework/inbox/stylesheet.scss */
.inbox-icon-attachment {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 110, ../../../../../sass/global/_mixins.scss */
.inbox-icon-attachment:before {
  content: "\f0c6";
}

/* line 176, ../../../sass/framework/inbox/stylesheet.scss */
.inbox-icon-reply {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 110, ../../../../../sass/global/_mixins.scss */
.inbox-icon-reply:before {
  content: "\f122";
}

/* line 179, ../../../sass/framework/inbox/stylesheet.scss */
.inbox-hidden {
  display: none !important;
}

/* line 183, ../../../sass/framework/inbox/stylesheet.scss */
.ui-dialog.inbox-dialog-window {
  position: absolute;
  top: 0;
  left: 0;
  outline: 0;
  border: 1px solid #cccccc;
  background: #FFF;
  padding: 0;
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 14px;
}
/* line 42, ../../../../../sass/global/_mixins.scss */
.ui-dialog.inbox-dialog-window .ui-dialog-titlebar {
  margin: 0;
  padding: 10px;
  background: none;
  border: none;
  border-bottom: 1px solid #cccccc;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
/* line 49, ../../../../../sass/global/_mixins.scss */
.ui-dialog.inbox-dialog-window .ui-dialog-titlebar .ui-dialog-title {
  margin: 0;
}
/* line 53, ../../../../../sass/global/_mixins.scss */
.ui-dialog.inbox-dialog-window .ui-dialog-titlebar-close {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  height: 35px;
  width: 40px;
  display: block;
}
/* line 64, ../../../../../sass/global/_mixins.scss */
.ui-dialog.inbox-dialog-window .ui-dialog-titlebar-close .ui-icon-closethick {
  text-indent: 0;
  color: transparent;
  position: relative;
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: none;
  border: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 40px;
  height: 35px;
  border-left: 1px solid #cccccc;
}
/* line 77, ../../../../../sass/global/_mixins.scss */
.ui-dialog.inbox-dialog-window .ui-dialog-titlebar-close .ui-icon-closethick:after {
  position: absolute;
  top: 0;
  right: 0;
  content: "\f00d";
  text-align: center;
  font-size: 16px;
  line-height: 35px;
  color: #b8b8b8;
  padding: 0 12px;
}

/* line 188, ../../../sass/framework/inbox/stylesheet.scss */
.elgg-form-messages-inbox input, .elgg-form-messages-inbox textarea, .elgg-form-messages-inbox select {
  margin-bottom: 0;
}

/* line 192, ../../../sass/framework/inbox/stylesheet.scss */
.inbox-form-row {
  margin-bottom: 15px;
}

/* line 196, ../../../sass/framework/inbox/stylesheet.scss */
.inbox-message-image-attachments {
  *zoom: 1;
}
/* line 5, ../../../../../sass/global/_mixins.scss */
.inbox-message-image-attachments:before, .inbox-message-image-attachments:after {
  content: " ";
  display: table;
}
/* line 6, ../../../../../sass/global/_mixins.scss */
.inbox-message-image-attachments:after {
  clear: both;
}
@media only screen and (min-width: 40.063em) {
  /* line 198, ../../../sass/framework/inbox/stylesheet.scss */
  .inbox-message-image-attachments > div {
    float: left;
    width: 33.33333%;
    padding: 5px;
    margin: 0;
  }
  /* line 204, ../../../sass/framework/inbox/stylesheet.scss */
  .inbox-message-image-attachments > div:nth-of-type(1n) {
    clear: none;
  }
  /* line 205, ../../../sass/framework/inbox/stylesheet.scss */
  .inbox-message-image-attachments > div:nth-of-type(3n+1) {
    clear: both;
  }
}

/* line 209, ../../../sass/framework/inbox/stylesheet.scss */
.inbox-message-attachments {
  display: table;
  width: 100%;
  margin: 5px 0;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}
/* line 215, ../../../sass/framework/inbox/stylesheet.scss */
.inbox-message-attachments > div {
  padding: 3px;
}
/* line 217, ../../../sass/framework/inbox/stylesheet.scss */
.inbox-message-attachments > div > div {
  padding: 2px;
  font-size: 90%;
}
/* line 221, ../../../sass/framework/inbox/stylesheet.scss */
.inbox-message-attachments > div img, .inbox-message-attachments > div img:hover {
  border: none;
  padding: 0;
  margin: 0;
  max-width: 25px;
  box-shadow: none;
}
/* line 228, ../../../sass/framework/inbox/stylesheet.scss */
.inbox-message-attachments > div:nth-child(even) {
  background: #f4f4f4;
}
/* line 231, ../../../sass/framework/inbox/stylesheet.scss */
.inbox-message-attachments > div:nth-child(odd) {
  background: #fafafa;
}

/* line 238, ../../../sass/framework/inbox/stylesheet.scss */
.inbox-footer-controls > li {
  display: inline-block;
}
/* line 240, ../../../sass/framework/inbox/stylesheet.scss */
.inbox-footer-controls > li:after {
  content: "|";
  color: #cccccc;
  display: inline-block;
  padding: 0 5px;
}
/* line 246, ../../../sass/framework/inbox/stylesheet.scss */
.inbox-footer-controls > li:last-child:after {
  display: none;
}
