// Colors
$primary-color: #4690D6 !default;
$secondary-color: #e9e9e9 !default;
$border-color: #dddddd !default;
$alert-color: #67080a !default;
$success-color: #396516 !default;
$warning-color: #f08a24 !default;
$info-color: #a0d3e8 !default;

$light-bg-color: #f4f4f4 !default;
$lighter-bg-color: #fafafa !default;

$light-border-color: #dddddd !default;
$lighter-border-color: #eeeeee !default;

$global-radius: 3px !default;

$indicator-size: 8px;
$unread-bg-color: #ecf0f7;