@import "compass/css3";
@import "variables";
@import "mixins";

/* Style the popup module */
#inbox-popup {
    padding: 0;
    background: white;
    width: 345px;
	max-width: 100%;
    position: absolute;
	.elgg-no-results,
	.elgg-ajax-loader {
		margin: 0;
		padding: 8px;
	}
	.elgg-list-inbox {
		max-height: 300px;
		overflow-y: auto;
		margin: 0;
	}
	.elgg-foot {
		border-top: 1px solid $border-color;
	}
	.elgg-foot a {
		text-align: center;
		font-size: 12px;
		min-width: 30px;
		padding: 4px;
		display: inline-block;
		width: 100%;
		text-align: center;
	}
}

.elgg-list-inbox > li {
    padding: 0;
    margin: 0;

	&:last-of-type {
		border-bottom-width: 0;
	}
	.inbox-message {
		padding: 8px;
		@include transition(background-color 0.5s ease);
	}
}

.elgg-menu-item-inbox > a {
    position: relative;
	.elgg-icon {
		font-size: 20px;
	}
}

.inbox-message {
	z-index: 1;
	padding: 10px;
	position: relative;
	@include display-flex;
	@include align-items(flex-start);
	@include justify-content(space-between);

	& > * {
		@include flex(1 0 auto);
		padding: 0 5px;
	}
	.inbox-message-checkbox {
		@include flex(0 0 20px);
		@include align-self(center);
		text-align: center;
	}

	.inbox-message-icon {
		@include flex(0 0 40px);
		text-align: center;
	}
	.inbox-message-content {
		@include flex(1 1 auto);
		overflow: hidden;
	}
	.inbox-message-subject {
		margin-right: 10px;
	}
	.inbox-message-body, .inbox-message-body-excerpt {
		margin: 5px auto;
	}
	&[data-href] {
		cursor: pointer;
	}
	h3, p, a, .elgg-content, .elgg-output {
		line-height: normal;
		margin: 0;
	}
	&.inbox-message-unread {
		background-color: $unread-bg-color;
		.elgg-menu-item-markunread {
			display: none;
		}
	}
	&.inbox-message-read {
		background-color: #ffffff;
		.elgg-menu-item-unread,
		.elgg-menu-item-markread {
			display: none;
		}
	}
}

.inbox-messages-control-group {
    padding: 0 10px;
}

.elgg-menu-inbox,
.elgg-menu-inbox-thread {
	@include display-flex;
	@include align-items(center);
	& > li {
		padding: 0 5px;
		&.elgg-menu-item-toggle {
			line-height: 34px;
		}
	}
}

.inbox-unread-count {
	color: white;
	background-color: red;

	position: absolute;
	text-align: center;
	top: 2px;
	left: auto;
	right: -8px;
	min-width: 16px;
	height: 16px;
	line-height: 16px;
	font-size: 10px;
	font-weight: bold;

	@include border-radius(10px);
}


.inbox-messages .elgg-pagination {
	display: none;
}